<div class="header">
     <header>
         <h1>{{ .Site.Title }}</h1>
         <div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
         <p>
         <nav>
                 <a href="/">List</a>&nbsp;|
                 {{ with .Site.Menus.main }}
                 {{ range . }}

                 <a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>&nbsp;|
                 {{ end }}
         </nav>
         </p>
         {{ end }}
     </header>
     </div>