{{ define "main" }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
               <b><time> {{  dateFormat "Monday, January 2, 2006 15:04:05" .Date }}</time></b>
               <div style="color:grey; font-size:16px;">{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>
               <div style="color:grey; font-size:16px;"><strong>Tags:</strong>
               {{ range .Params.tags }}
                 <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                 {{ end }}</div>
                 <div style="color:grey; font-size:16px;"></div>{{ if .Params.categories }}<strong>Categories:</strong> 
                 
                    {{range .Params.categories}}
                 <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                 {{end}}{{end}}</div>
        	       

			<div>
				{{ .Content }}
			</div>
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}

