
<article>
	<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
	<b><time>{{  dateFormat "Monday, January 2, 2006 15:04:05" .Date }}</time></b>
	{{ range .Params.tags }}
	<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
	{{ end }}
	<div>
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .Permalink }}">Read more...</a>
		{{ end }}
	</div>
</article>