{{ define "main" }}
	<main>
		{{ $listtitle := .Title }}
		{{ if or .Title .Content }}
		<div>
			{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
			{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
		{{ end }}
		
		<ul>
		    {{ range .Paginator.Pages }}
		    <li>
		        <div class="post-title">
                    {{ if eq $listtitle "Posts" }}
                    {{ dateFormat "Monday, January 2, 2006" .Date }} 
                    <a href="{{ .RelPermalink }}">{{.Title }}</a>
                    <div style="color:grey; font-size:16px;">{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
                    <div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
                    <!-- <div style="color:grey; font-size:16px;">{{ if .Params.moods }}<strong>Moods:</strong> {{range .Params.moods}}<a href="{{ "/moods/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div> -->
     
                    <p style="font-size:18px;">{{.Summary}}</p>
				{{ else }}
				    <a href="{{ .RelPermalink }}">{{.Title }}</a>
				{{ end }}
		        </div>
		    </li>
		    {{ end }}
		</ul>
		{{ partial "pagination.html" . }}
	</main>
{{ end }}
