html {
    overflow-y: scroll;
}

@media (prefers-color-scheme: white){
    body{
            color:black;background:rgb(255, 255, 255)
        }
    a:link{color:rgb(107, 74, 255)}
    a:visited{color:rgb(255, 113, 201)}
}
.post-title{
    border: 1px solid black; margin:10px; padding:10px; 
}
.post-title .links{
    color:grey; font-size:16px;
}
/*p > code{color: #FFFFFF; background:#000000; padding:2px}*/
pre{
    color: #FFFFFF; background:#000000; padding:24px; white-space: pre-wrap
}
 /* For all <code> */
code {
    font-family: MyFancyCustomFont, monospace;
    font-size: inherit;
}
p > code,
li > code,
dd > code,
td > code {
    background: #ffeff0;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}
  /* Code in text */

/* article{padding:24px 0} */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
div.header h1 {

}

.header-menu {
    float: right;
}
.header{
    text-align: center;
    height: 90px; 
    width: 100%;
    text-transform:capitalize;
    background-color: #fff;;
    color:white;
    /* position:fixed;  */
}
.header h1{
    padding-top: 0;
    padding-bottom: 8px;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid;
    color: #248fb9;

}
.header h1 a{
    text-decoration: solid;
    color:rgb(16, 163, 231);

    /* margin-top:20px; */
}
main {
    min-height: 100%;
    margin-bottom: -100px;
    background: #fff;
}
main:after {
    content: "";
    display: block;
    height: 100px;
}
.latest_post{
    list-style-type: none;
    padding: 0;
    padding-bottom: 50px;
    border-style: outset;
}
.latest_post h1{
    margin-top: 20px;
    margin-bottom:20pt;
    font-size: 14pt;
}

li{
    list-style-type:none;
}
.footer {
    height: 35px;
    background: #eee;
/*    position:fixed; */
    color: white; 
    background-color:#e9fcff;
    bottom:0px; 
    text-align:center; 
    width:100%;
    font-size: small;
    margin: 0px;
}
img[alt=author] {
    float:right;
    margin: 7px 7px 7px 7px;
    width: 150px;
    border: none;
    background: none;
    background-size: cover;
    display: block;
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
  }
