<div class="header">
    <header>
        <h1>{{- .Title | }}</h1>
        <div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
        <nav>
                <b><a href="/">Main</b></a>&nbsp;|
                {{ with .Site.Menus.main }}
                {{ range . }}
                <a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>&nbsp;|
                {{ end }}
        </nav>
        {{ end }}
    </header>
    </div>